.su {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    //add styles
  }
  &-form {
    //add styles
    &-row {
        //add styles
    }
    &-btn{
        //add
    }
  }
  &-btn{
    //add
  }
}
