.su {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-background {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    & img {
      object-fit: cover;
      max-width: 40%;
      height: auto;
      justify-content: center;
    }
  }
  &-title {
    //add styles
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font_1);
    color: var(--color_dark);
  }
  &-form {
    //add styles
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(26, 69, 106);
    font-family: var(--font_1);

    
    &-row {
      //add styles
      display: flex;
      flex-direction:r;
    }
    &-btn {
      //add
      display: flex;
      justify-content: center;
      margin: 2%;
      
      
    }
  }
  &-btn {
    //add
    position: absolute;
    padding: auto;
    top: 55%;
  }
}
