.ps {
    color: var(--color_dark);
    &-background{
        position: absolute;
        display: flex;
        justify-content: right;
        top: 0;
        z-index: -1;
        left: 0;
        width: 100vw;
        height: auto;// changed this from 100vh to auto so that image doesn't squish when made thinner
        & img{
            width: 35%;
            //height: 35%;
            
        }
    }
    &-container{
        display: flex;
    }
    //add
    &-list{
        //add
    }
}