@import url('https://fonts.cdnfonts.com/css/amoera');
@import url('https://fonts.cdnfonts.com/css/anuphan');
@font-face {
    font-family: 'Amoera';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/107547/amoera-personal-use-only.woff') format('woff');
}
@font-face {
    font-family: 'Anuphan';
    font-style: normal;
    font-weight: 400;
    src: local('Anuphan'), url('https://fonts.cdnfonts.com/s/107404/Anuphan[wght].woff') format('woff');
}